.page {
  display: grid;
  min-height: 100svh;
  padding: 10px;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main ol {
  /* font-family: var(--font-geist-mono); */
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}
